.game {
  display: none;
}
#pig1 {
  text-align: center;
}
#start {
  cursor: pointer;
}
#down {
  width: 100%;
  height: 100%;
  float: center;
}
.form-group {
  width: 200px;
  padding-left: 50px;
}
.well {
  padding-left: 75px;
  padding-right: 50px;
}
.game {
  padding-left: 75px;
  padding-right: 75px;
}
.proceed {
  padding-top: 30px;
  padding-bottom: 75px;
}
body
{
  background-color: #efefef !important;
}
.card1
{
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
  padding:10px;
  margin-top: 30px;
  background-color: #000;
}
.play1
{
  font-size: 14px;
  font-family: sans-serif;
  color: #fff;
}
.card2
{
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
  padding:10px;
  margin-top: 30px;
  background-color: #000;
}
.play2
{
  font-size: 14px;
  font-family: sans-serif;
  color: #fff;
}
.btn
{
  background: linear-gradient(to right, #138D75, #000);

}
}
